* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navigation Bar */
.navbar {
  background-color: rgba(17, 17, 17, 0.85);
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 1300px;
  height: 66px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
}

nav {
  flex: 1;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
}

nav a {
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.login-btn {
  display: flex;
  align-items: center;
  margin-left: 300px;
  padding: 0 10px;
  border: 0;
  outline: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: #ccc;
  cursor: pointer;
}

.login-btn:hover {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.login-btn img {
  margin-left: 10px;
  width: 27px;
  height: 27px;
  opacity: 0.6;
}

.cart-btn:hover {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.cart-btn {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 0;
  outline: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
}

.cart-btn img {
  margin-left: 10px;
  width: 27px;
  height: 27px;
  opacity: 0.6;
}

.menu {
  width: 28px;
  margin-left: 20px;
  color: #fff;
  display: none;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionCart {
  display: flex;
  align-items: center;
  color: #fff;
}

@media only screen and (max-width: 1280px) {
  nav ul {
    position: absolute;
    top: 65px;
    left: 0;
    background: rgba(17, 17, 17, 0.85);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
    display: block;
    padding: 0 10px;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .login-btn {
    margin-left: -10px;
    color: #fff;
  }

  .cart-btn {
    margin-left: -10px;
    color: #fff;
  }
}
/* Hero Image */
.hero {
  background-image: url("/public/img/ezgif.com-gif-maker.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.hero .poster-download {
  top: 0;
  margin-top: 20vh;
  left: 50%;
  display: flex;
  justify-content: center;
}

.hero .poster-download li {
  flex-shrink: 0;
  width: 188px;
  height: 62px;
  margin-right: 15px;
  opacity: 0.8;
}

.hero .poster-download li a {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 40%;
  min-width: 300px;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(114, 71, 21, 0.68), 0 0 10px rgba(114, 71, 21, 0.68);
}

.col-2 p {
  font-size: 30px;
  line-height: 30px;
  margin: 25px 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(114, 71, 21, 0.68), 0 0 10px rgba(114, 71, 21, 0.68);
}

.btn {
  display: inline-block;
  background: gold;
  color: #000;
  padding: 15px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  font-weight: bold;
}

.btn:hover {
  background: #fff;
  text-shadow: 0 0 10px rgba(114, 71, 21, 0.68), 0 0 10px rgba(114, 71, 21, 0.68);
}

.hero .row {
  padding-top: 150px;
}

.news {
  background-image: url(https://genshin.mihoyo.com/_nuxt/img/29770c4.jpg);
  height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
}

.news h2 {
  color: white;
  text-align: center;
  padding-top: 85px;
  font-size: 40px;
  margin-top: 0px;
}

.slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 500px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
  overflow: hidden;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 0.3s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 8px;
}

/* .manual-btn:hover{
    background-color: #fff;
} */
#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* auto nav */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #ccc;
  padding: 8px;
  border-radius: 20px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 8px;
}

#radio1:checked ~ .navigation-auto .auto-btn-1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn-2 {
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn-3 {
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn-4 {
  background-color: #fff;
}

.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.small-container h3 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding: 40px;
}

.featured-products {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://static0.gamerantimages.com/wordpress/wp-content/uploads/2021/09/genshin-anniversary-artt.jpeg");
  margin-top: -70px;
  margin-bottom: -60px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  padding-top: 20px;
}

col-4 {
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.genesis {
  height: 200px;
  width: auto;
  border: solid #fff 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 10px 0;
}

.price {
  color: black;
  border: solid #fff 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: gold;
  text-align: center;
  margin-top: -14px;
  padding: 5px 0;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 65px;
    left: 0;
    background: rgba(17, 17, 17, 0.85);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
    display: block;
    padding: 0 10px;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .slides {
    width: 500%;
    height: 500px;
    display: flex;
    overflow: hidden;
  }

  .slide img {
    width: 100%;
    height: 500px;
  }

  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
  }
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
.col-3,
.col-4 {
    flex-basis: 100%;
  }

  .price {
    width: 54.7%;
    margin-left: 82.5px;
  }

  .slide img {
    padding-left: 10px;
    width: 550px;
    height: 500px;
  }

  .navigation-manual {
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 200px;
  }

  .navigation-auto div {
    border: 2px solid #ccc;
    padding: 8px;
    margin-right: 300px;
    border-radius: 20px;
    transition: 1s;
  }
}
@media only screen and (max-width: 540px) {
  .slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .slides {
    width: 500%;
    height: 500px;
    display: flex;
    overflow: hidden;
  }

  .slide img {
    width: 485px;
    height: 500px;
    margin-left: 10px;
  }

  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 300px;
  }
}
@media only screen and (max-width: 440px) {
  .price {
    width: 51.3%;
    margin-left: 95px;
  }

  .slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .slides {
    width: 500%;
    height: 500px;
    display: flex;
    overflow: hidden;
  }

  .slide img {
    width: 100%;
    height: 500px;
  }

  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 300px;
  }
}
@media only screen and (max-width: 414px) {
  .price {
    width: 55%;
    margin-left: 82px;
  }

  .slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .slides {
    width: 500%;
    height: 500px;
    display: flex;
    overflow: hidden;
  }

  .slide img {
    width: 395px;
    height: 500px;
    margin-left: 10px;
  }

  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 300px;
  }
}
@media only screen and (max-width: 390px) {
  .price {
    width: 58.8%;
    margin-left: 70px;
  }

  .slide img {
    width: 370px;
    height: 500px;
    margin-left: 10px;
  }

  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 300px;
  }
}
@media only screen and (max-width: 280px) {
  .price {
    width: 87%;
    margin-left: 15px;
  }

  .slide img {
    width: 260px;
    height: 500px;
    margin-left: 10px;
  }

  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 290px;
  }
}
@media screen and (max-width: 1000px) {
  .hero .poster-download {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
    align-items: start;
  }

  .hero .poster-download li {
    flex-shrink: 0;
    width: 140px;
    height: 65px;
    margin-right: 15px;
    opacity: 0.8;
  }

  .poster-download img {
    height: 50px;
  }
}
@media screen and (min-width: 1170px) {
  .slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 800px;
    height: 500px;
    overflow: hidden;
  }

  .slides {
    width: 500%;
    height: 500px;
    display: flex;
    overflow: hidden;
  }

  .slides input {
    display: none;
  }

  .slide {
    width: 20%;
    transition: 0.3s;
  }

  .slide img {
    width: 800px;
    height: 500px;
  }
}
/* Footer */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 50px 0 20px;
  margin-top: 60px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

/* CONTENT */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/img/BigWishBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-bottom: -60px;
}

.container-two {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 20px;
  height: 600px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.container-two .formBx {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-two .formBx form {
  position: relative;
  width: 100%;
  padding: 0 0 0 35px;
}

.container-two .formBx form h2 {
  color: #111;
  font-weight: 500;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.container-two .formBx form .inputBox {
  position: relative;
  margin-bottom: 70px;
}

.container-two .formBx form .inputBox:last-child {
  margin-bottom: 0px;
}

.container-two .formBx form .inputBox input,
.container-two .formBx form .inputBox textarea {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: #111;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 2px solid #111;
  resize: none;
}

.container-two .formBx form .inputBox input {
  padding: 10px;
}

.container-two .formBx form .inputBox textarea {
  height: 50px;
}

.container-two .formBx form .inputBox input[type=submit] {
  background: #111;
  padding: 8px 20px;
  margin-top: -10px;
  width: 100px;
  cursor: pointer;
  background: #814281;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.container-two .formBx form .inputBox input[type=submit]:focus {
  background: #111;
  color: #111;
}

.container-two .formBx form .inputBox label {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  color: #111;
  transition: all 0.2s;
}

.container-two .formBx form .inputBox input:focus ~ label,
.container-two .formBx form .inputBox textarea:focus ~ label,
.container-two .formBx form .inputBox input:valid ~ label,
.container-two .formBx form .inputBox textarea:valid ~ label {
  transform: translateY(-24px);
  color: #BC002D;
  font-size: 14px;
}

.container-two .formBx form .inputBox input:focus,
.container-two .formBx form .inputBox textarea:focus,
.container-two .formBx form .inputBox input:valid,
.container-two .formBx form .inputBox textarea:valid {
  border-bottom-color: #BC002D;
}

.container-two .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-two .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: plum;
  transform-origin: bottom;
  transform: skewX(-25deg) translateX(10%);
}

.container-two .imgBx img {
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .container-two .imgBx {
    display: none;
  }

  .container-two .formBx {
    width: 90%;
  }
}
/* PRODUCTS */
.small-container-2 {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 100px;
}

.small-container-2 h2 {
  color: #333;
  font-size: 19px;
}

.small-container-2 input {
  width: 300px;
  height: 32px;
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.col-5 {
  flex-basis: 25%;
  padding: 20px 10px;
}

.col-4 p {
  font-size: 20px;
}

.items {
  height: 350px;
  width: 100%;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

.items:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.product-details:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.rating i {
  color: gold;
  padding: 8px 0;
}

.product-details {
  margin-top: -5px;
  padding: 10px 10px;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.product-btn {
  background-color: green;
  color: white;
  margin-top: 5px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid white;
}

.small-container-2 .row-2 {
  border-bottom: 1px solid silver;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.row-2 {
  justify-content: space-between;
  margin: 50px auto 50px;
}

select {
  border: 3px solid gold;
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 2px solid gold;
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: gold;
  color: #fff;
}

.col-2 .product-info {
  border: 1px solid #111;
}

/* Product Info */
.single-product {
  margin-top: 150px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product p {
  padding: 10px;
  font-size: 15px;
}

.single-product h1 {
  padding: 10px;
}

.single-product h4 {
  padding: 10px;
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin: 20px 0;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid gold;
}

input:focus {
  outline: none;
}

.single-product a {
  padding: 10px 30px;
}

.single-product h3 {
  padding-top: 20px;
}

.btn {
  border-radius: 50px;
  background: gold;
  color: #fff;
}

.col-4 p {
  font-weight: bold;
}

.col-4-1 p {
  font-weight: bold;
}

.single-product .fa {
  color: gold;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.small-container2 {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4-1 {
  flex-basis: 25%;
  padding: 0 10px;
}

@media only screen and (max-width: 900px) {
  .col-5 {
    flex-basis: 50%;
    padding: 20px 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .small-container-2 input {
    margin: 10px 0;
    border: 1px solid black;
  }
}
@media only screen and (max-width: 550px) {
  .col-5 {
    flex-basis: 100%;
    padding: 20px 10px;
    text-align: center;
  }
}
/* pop up login */
.Modal {
  padding-left: 10px;
}

.modalBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.modalContainer {
  width: 460px;
  height: 500px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modalContainer .modalTitle {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  padding: 20px 0 15px 0px;
}
.modalContainer .modalBody ::placeholder {
  color: #c0c5c8;
  font-size: 16px;
  padding: 0 15px;
}
.modalContainer .modalBody input {
  padding: 15px 130px;
  border: 1px solid #c0c5c8;
  border-radius: 4px;
}

.modalContainer .modalBody2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}
.modalContainer .modalBody2 ::placeholder {
  color: #c0c5c8;
  font-size: 16px;
  padding: 0 35px;
}
.modalContainer .modalBody2 input {
  padding: 15px 130px;
  border: 1px solid #c0c5c8;
  border-radius: 4px;
}

.modalContainer .login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  padding: 25px 0px;
}

.login-button button {
  padding: 15px 175px;
  font-size: 17px;
  border-color: #3b4354;
  background-color: #3b4354;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.register-bar {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin: -10px 13px;
  text-transform: none;
}

.register-bar a {
  text-decoration: none;
  cursor: pointer;
  color: #7f858a;
}

.register-bar .to-register {
  float: right;
}

.social-media-login {
  margin-top: 40px;
  text-align: center;
  text-transform: none;
}
.social-media-login .login-tip {
  font-size: 14px;
  line-height: 14px;
  z-index: 2;
  color: #c0c5c8;
}
.social-media-login .third-party-icon {
  margin-top: 24px;
}
.social-media-login .third-party-icon img {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.third-party-login {
  display: flex;
  justify-content: center;
  font-size: 0;
}

.third-party-login .third-party-item {
  margin-right: 0 !important;
}

.Modal .login-btn {
  border: none;
  color: #fff;
  cursor: pointer;
}

.checkout {
  padding-top: 100px;
  padding-left: 30px;
  padding-bottom: 30px;
  max-width: 1200px;
}

.checkout > h1 {
  padding: 25px 0;
}

.cart {
  display: flex;
}

.products {
  flex: 0.75;
}

.products p {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 0;
}

.product {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 20px;
}

.product:hover {
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.product > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.product > img:hover {
  transform: scale(1.04);
}

.product-info {
  padding: 20px;
  width: 100%;
}

.product-name, .product-price, .product-offer {
  margin-bottom: 20px;
}

.product-remove {
  background-color: green;
  cursor: pointer;
  padding: 7px 25px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  float: right;
  margin-top: -60px;
}

.product-remove:hover {
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid green;
}

.product-quantity > input {
  width: 40px;
  padding: 5px;
  text-align: center;
}

.fa {
  margin-right: 5px;
}

.cart-total {
  flex: 0.25;
  margin-left: 20px;
  padding: 20px;
  height: 240px;
  border: 1px solid silver;
  border-radius: 5px;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}

.cart-total a {
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: tomato;
  color: white;
  text-decoration: none;
}

.cart-total a:hover {
  background-color: red;
}

@media screen and (max-width: 500px) {
  .remove {
    display: none;
  }

  .product {
    height: 150px;
  }

  .product > img {
    height: 150px;
    width: 200px;
  }

  .product-name, .product-price, .product-offer {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 850px) {
  .cart {
    flex-direction: column;
  }

  .cart-total {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1220px) {
  .checkout {
    max-width: 95%;
  }
}

/*# sourceMappingURL=App.css.map */
